div {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

p {
    font-family: Arial;
}

a:link {
    text-decoration: none;
}

.container {
    width: 95%;
    height: 100%;
    margin: auto;
}

.top {
    width: 95%;
}

.rightText {
    width: 29%;
    text-align: right;
    float: right;
    overflow: hidden;
    margin: 0 -5% 0 0;
    font-family: Arial;
}

.top > img {
    margin-top: -0.5%;
    width: 28%;
    height: auto;
    min-width: 250px;
    max-width: 500px;
}

.title {
    margin: 2% 0 0 0;
}

.subtitle {
    margin: 1.5% 0 7% 0;
}

hr {
    width: 105%;
}

h2 {
    color: #777777;
    margin-top: 3%;
    margin-bottom: 7px;
    font-family: Arial;
}

span {
    color: #D8D8D8;
    font-size: 40%;
}

.proyectsLeft {
    width: 49%;
}

.proyectsRight {
    width: 49%;
}

.proyects {
    width: 105%;
    display: flex;
    justify-content: space-between;
}

.insideDiv {
    color: white;
    margin: 0 0 0 0;
    font-size: 275%;
}

.insideDivSearch {
    color: white;
    font-size: 245%;
    margin-top: 8%;
}

.proyectDescription {
    text-align: center;
    width: 100%;
    background-color: white;
}

.eachProyects {
    overflow: hidden;
    margin-bottom: 1%;
    width: 100%;
    height: 310px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.proyectSearch {
    background-color: #4A90E2;
    margin-bottom: 1%;
    width: 100%;
    height: 310px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.rectangle {
    margin: auto;
    border-radius: 6px;
    width: 70%;
    height: 15%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
}


.rectangle > img {
    margin: -2px 0 0 0;
    height: 105%;
    background-color: #4A90E2;
}

.grey {
    width: 25%;
    height: 100%;
    float: right;
    background-color: #D8D8D8;
}

.proyectTitle {
    font-size: 122%;
    font-weight: bold;
    margin-bottom: 0;
}

.proyectType {
    margin-top: 1%;
    font-size: 78%;
    color: #4025DC;
}

.inventory {
    background-color: #BD10E0;
}

.portfolio {
    background-color: #D00241;
}

.battleship {
    background-color: #B8E986;
}

.guess{
    background-color: #EE8413;
 }

.factorial {
    background-color: #4149A4;
}

.countries {
    background-color: #9C2B9C;
}

.black {
    background-color: black;
}

@media screen and (max-width: 800px) {
    .top {
        text-align: center;
    }
    .rightText {
        clear: both;
        width: 100%;
        text-align: center;
    }
    .proyects {
        flex-direction: column;
    }
    .proyectsLeft {
        width: 100%;
    }
    .proyectsRight {
        width: 100%;
    }
    .insideDivSearch {
        margin: auto;
    }
}

@media screen {
    object {
        width: auto;
        height: 94%;
    }
    embed {
        width: auto;
        height: 94%;
    }
}
